@font-face {
    font-family: "Poppins";
    src: url('Poppins-Thin.ttf') format('truetype');
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: none;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #3d71ad;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    text-decoration: none;
}

html,
body {
    height: 100%;
    background-color: #2F2D2D;
}

header {
    background-color: #4B9EFE;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img[alt*="logo_header"] {
    width: 45px;
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 3px;
}

img[alt*="logo_header_center"] {
    width: 300px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 3px;
}


/*Sitcky header and footer*/


/*
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}*/

main {
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1500px;
    margin: auto;
}

h1 {
    color: white;
    font-size: 36px;
}

svg {
    background-color: #4B9EFE;
    width: 75%;
    height: 5px;
}

p {
    font-size: 20px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}

main #left-side {
    overflow: hidden;
    position: sticky;
    min-width: 300px;
    margin-top: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #363333;
    border-radius: 20px;
    height: 500px;
    background-image: url("pictures/fond_profil.png");
    background-size: 150% 335px;
    background-repeat: no-repeat;
}

#profile img[alt*="social"] {
    width: 60px;
    margin-top: 40px;
}

.social{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    flex: 1;
    margin-top: 15px;
    justify-content: space-between;
}

#profile img[alt*="profile_logo"] {
    width: 200px;
    margin-top: 10px;
}

#profile h1 {
    text-align: center;
}

main #middle-side {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display: flex;
    align-content: space-around;
    flex-direction: column;
}

#middle-side .item {
    margin-top: 25px;
}

#itemList {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 15px;
}

#itemList .title {
    background-color: #4B9EFE;
}

#itemList .title h2 {
    margin-left: 10px;
    color: white;
    font-size: 25px;
}

.projectCore {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
}

.itemProject {
    background-color: #363333;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 15px;
}

.projectCore img {
    margin-top: 10px;
    width: 150px;
    border-radius: 15px;
}

.projectCore p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

#right-side {
    margin-right: auto;
    min-width: 300px;
}

footer {
    background-color: #3C3C3C;
    height: 150px;
}

#social {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 80%;
    justify-content: flex-end;
    align-items: center;
}


footer img {
    width: 50px;
    margin-right: 50px;
}

footer #mention {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer h2 {
    color: white;
    font-size: small;
}