header {
    background-image: url('img/wave_3.svg'), url('img/wave_2.svg'), url('img/wave_1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 500px;

}


header .navigation_top {
    display: flex;
    padding-top: 5px;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    transition-duration: 500ms;

}

header .navigation_top a {
    font-family: Poppins;
    color: var(--text-color-dark);
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    transition-duration: 500ms;
}

header .navigation_top a:hover {
    color: var(--text-color-light);
    transition-duration: 250ms;
}

header .navigation_top img {
    width: 50px;
    height: 50px;
    transition-duration: 500ms;
}


header #navigationWrapper.navigation_sticky {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0px;
    background-color: var(--backGround-color);
    height: 60px;
    transition-property: background-color;
    transition-duration: 500ms;
    z-index: 1030;
}

header .navigation_sticky {

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 500ms;
}


header .navigation_sticky a {
    font-family: Poppins;
    display: flex;
    align-items: center;
    color: var(--text-color-light);
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    transition-duration: 500ms;
    align-items: center;
}

header .navigation_sticky a:hover {
    color: var(--main-purple);
    transition-duration: 250ms;
}

header .navigation_sticky img {
    width: 40px;
    height: 40px;
    transition-duration: 500ms;
}

main #firstContent {
    display: flex;
    flex-direction: row;
    margin-top: -80px;
    align-items: center;
    justify-content: center;

}

main #firstContent .title {
    width: 1000px;
    color: var(--text-color-light);
}

main #firstContent .title img {
    height: 100%;
}

main #presentation {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;

}

main, html, body {
    background-color: var(--backGround-color);
}

main #presentation p {
    width: 75%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: justify;
    margin: 15px auto;
    color: var(--text-color-light);

}

main hr {
    border: 4px solid var(--main-purple);
    border-radius: 18px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}

main #projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    background-color: var(--backGround-color);
}

main h2 {
    font-family: Poppins;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    color: var(--text-color-light);
}

main #projects .projectWrapper {
    display: flex;
    width: 70%;
    margin: 50px auto;
}

main #projects img[alt*="projectImage"] {
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.3s;
}

main #projects h3 {
    font-size: 30px;
    margin: auto 25px;

}

main #projects p {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    margin: auto 25px;
    color: var(--text-color-light);
}

main #projects .projectsContent {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-color-light);
}

main #projects .projectsDetail {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: auto;
    color: var(--text-color-light);
}

main #projects .lang {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 100%;
    margin-right: 25px;
}


main #projects .projectsDetail img {
    width: 42px;
    transition: all 200ms;
}

main #projects .projectsDetail img:hover {
    transform: scale(1.2);
    z-index: 2;
    transition: all 200ms;
}

main #projects .projectsDetail p {
    background-color: var(--main-blue);
    padding: 5px 100px 5px 20px;
    height: auto;
    border-radius: 200px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    color: var(--text-color-dark);

}

main #projects .projectsDetail p:hover {
    background-color: var(--main-purple);
    padding: 5px 100px 5px 100px;
    border-radius: 100px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    color: var(--text-color-dark);
}


main #service {
    width: 80%;
    margin: 50px auto;
    color: var(--text-color-light);
}

main #service h5 {
    width: auto;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

main #service p {
    margin-top: 5px;
    text-align: center;
}

main #service .serviceContent {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

main #service .offerType {
    background-color: var(--secondary-background-color);
    border-radius: 25px;
    padding: 25px;
    margin-top: 20px;
}

main #service .serviceDetail {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

main #service .offerType h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
}

main #service .offerType h4 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}


main #service .offerType h5 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: var(--text-color-dark);
    margin-top: 50px;
    background-color: var(--main-blue);
    border-radius: 100px;
    transition: all 200ms;
}

main #service .offerType h5:hover {
    transform: scale(1.1);
    transition: all 200ms;
}

main #service .serviceDetail p {
    font-size: 20px;
    text-align: start;
}

main #service .serviceDetail img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}


main #about .aboutWrapper {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #about {
    width: 90%;
    margin: 50px auto;
}

main #about .line {
    align-items: center;
    margin-bottom: 25px;

}

main #about img[alt*="langIcon"] {
    width: 60px;
    height: 60px;
    margin: 5px;
    transition: all 200ms;

}

main #about img[alt*="langIcon"]:hover {
    transform: scale(1.2);
    z-index: 2;
    transition: all 200ms;


}

main #about .iconEnum .iconTitle {
    margin-bottom: 20px;
}

main #about .iconEnum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main #about .iconEnum img[alt*="logo"] {
    width: 150px;
    height: 150px;
    padding: 50px;
}

main #about .iconLogo {
    border-radius: 600px;
    background-color: var(--main-blue);

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--backGround-color);
}

footer .footerContent {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-blue);

}

footer h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 75px;
    color: var(--text-color-dark);
}

footer .leftContent a {
    font-family: Poppins;
    font-style: normal;
    font-size: 15px;
    line-height: 52px;
    color: var(--text-color-dark);
}


footer .rightContent a {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: var(--text-color-dark);
    transition-duration: 500ms;
}

footer .leftContent a {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: var(--text-color-dark);
    transition-duration: 500ms;
}

footer a:hover {
    color: var(--text-color-dark);
    transition-duration: 500ms;
}