header {
    background-image: url('img/wave_3.svg'), url('img/wave_2.svg'), url('img/wave_1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 500px;

}


header .navigation_top {
    display: flex;
    padding-top: 5px;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    transition-duration: 500ms;

}

header .navigation_top a {
    font-family: Poppins;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    transition-duration: 500ms;
}

header .navigation_top a:hover {
    color: #1a1a1a;
    transition-duration: 250ms;
}

header .navigation_top img {
    width: 60px;
    height: 60px;
    transition-duration: 500ms;
}


header #navigationWrapper.navigation_sticky {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0px;
    background-color: white;
    height: 80px;
    transition-property: background-color;
    transition-duration: 500ms;
    z-index: 1030;
}

header .navigation_sticky {

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 500ms;

}

header .navigation_sticky a {
    font-family: Poppins;
    color: black;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    transition-duration: 500ms;
}

header .navigation_sticky a:hover {
    color: #fcc22b;
    transition-duration: 250ms;
}

header .navigation_sticky img {
    width: 60px;
    height: 60px;
    transition-duration: 500ms;
}

main #firstContent {
    display: flex;
    flex-direction: row;
    margin-top: -80px;
    align-items: center;
    justify-content: center;

}

main #firstContent .title {
    width: 1000px;
}

main #presentation {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;

}

main #presentation p {
    width: 75%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: justify;
    margin: 15px auto;

}

main hr {
    border: 4px solid #752AC8;
    border-radius: 18px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FCC22B;
    justify-content: center;

}

main #projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
}

main h2 {
    font-family: Poppins;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
}

main #projects .projectWrapper {
    display: flex;
    width: 70%;
    margin: 50px auto;
}

main #projects img[alt*="projectImage"] {
    height: 600px;
    width: 500px;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.3s;
}

main #projects h3 {
    font-size: 40px;
    margin: auto 25px;

}

main #projects p {
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    text-align: justify;
    margin: auto 25px;
}

main #projects .projectsContent {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main #projects .projectsDetail {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: auto;
}

main #projects .lang {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 100%;
    margin-right: 25px;
}

main #projects .projectsDetail img {
    width: 42px;
    transition: all 200ms;
}

main #projects .projectsDetail img:hover {
    transform: scale(1.2);
    z-index: 2;
    transition: all 200ms;
}

main #projects .projectsDetail p {
    background-color: #4E2AC8;
    padding: 5px 100px 5px 20px;
    height: auto;
    border-radius: 200px;
    color: white;

}

main #projects .projectsDetail p:hover {
    background-color: #752AC8;
    padding: 5px 100px 5px 100px;
    border-radius: 100px;
    color: white;

}


main #service{
    width: 80%;
    margin: 50px auto;

}

main #service .servicecontent{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

main #service .offerType{
    background-color: #ececec;
    border-radius: 25px;
    padding: 35px;
    margin-top: 20px;
}

main #service .offerAdvantage{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

main #service .offerType h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}

main #service .offerType h4{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}

main #service .offerAdvantage p{
    font-size: 25px;
    text-align: start;
}

main #service .offerAdvantage img{
    width: 35px;
    height: 35px;
    margin-right: 15px;
}


main #about .aboutWrapper {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #about {
    width: 90%;
    margin: 50px auto;
}

main #about .line {
    align-items: center;
    margin-bottom: 25px;

}

main #about img {
    width: 80px;
    height: 80px;
    margin: 5px;
    transition: all 200ms;

}

main #about img:hover {
    transform: scale(1.2);
    z-index: 2;
    transition: all 200ms;


}

main #about .iconEnum .iconTitle {
    margin-bottom: 20px;
}

main #about .iconEnum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

main #about .iconEnum img[alt*="logo"] {
    width: 300px;
    height: 300px;
    padding: 50px;
}

main #about .iconLogo {
    border-radius: 600px;
    background-color: #4E2AC8;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .footerContent {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

footer h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 75px;
    color: white;
}

footer .leftContent p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 52px;
    color: white;
}

footer .leftContent a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 52px;
    color: white;
}

footer .rightContent a {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 67px;
    color: white;
    transition-duration: 500ms;
}

footer a:hover {
    color: #1a1a1a;
    transition-duration: 500ms;
}