@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


@font-face {
    font-family: "Grec";
    src: url('DalekPinpointBold.ttf') ;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: none;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #ffcd35;
}


* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    user-select: none;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;

}


html,
body {
    height: 100%;
    background-color: #FFFF;

}


/*
main #avis {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;

}

main #avis h2 {
    font-family: Poppins;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 60px;
}

main #avis #avisContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 65%;
    margin: 50px auto;
}

main #avis #avisContainer .arrow {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 115px;
    line-height: 172px;
    display: flex;
    align-items: center;

    color: #FAB51A;

}

main #avis #avisContainer .block {

    background-color: white;
    border-radius: 28px;
    padding: 55px;
    width: 905px;
    height: 300px;
}

main #avis .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

main #avis #avisContainer h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 67px;
    color: #FAB51A;
    margin-bottom: 20px;
}


main #avisContainer .block p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    text-align: justify;

    color: #565656;
}*/
